<%- include('./partials/header.ejs')%>
<script src="/js/verifyloginusingajax.js"></script>
</head>
<body>
    <%- include('./partials/navbar.ejs',{'pageName':'Login'})%>
    <div class="container"style="width:40%;">
        <img class="img-fluid rounded mx-auto d-block logo my-5" src="/images/newlogo.jpg" alt="" />

        <form method="post" id="login-form">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
 <%- include('./partials/footer.ejs')%>